Source: libsilvertip-java
Maintainer: Pekka Enberg <penberg@iki.fi>
Section: java
Priority: optional
Build-Depends: debhelper (>= 7), openjdk-6-jdk, javahelper
Standards-Version: 3.9.3
Homepage: https://github.com/valotrading/silvertip
Vcs-Git: git://github.com/valotrading/silvertip.git
Vcs-Browser: https://github.com/valotrading/silvertip

Package: libsilvertip-java
Architecture: all
Depends: ${misc:Depends}
Description: Networking library that aims to hide the complexities of the Java NIO API
